body{
    background-color: 	#232b2b;
    color: blanchedalmond;
    padding: 50px;
}
.image{
    border-radius: 0.5cm;
}
.text{
    font-weight: bold;
    font-size: 2cm;
}
.button{
    background-color: #1DB954;
    padding: 15px 32px;
    text-align: center;
    margin-left: 2.5cm;
    margin-top: 0.5cm;
    border-radius: 1cm;
    font-size: medium;
    font-weight: bold;
    color:wheat;
}